__pycache__/
*.pyc
outputs/logs/
outputs/*.log
outputs/*.pid
outputs/cases/**/*.vsp3
outputs/cases/**/*.adb
outputs/cases/**/*.adb.cases
outputs/cases/**/*.csf
outputs/cases/**/*.group.*
outputs/cases/**/*.history
outputs/cases/**/*.lod
outputs/cases/**/*.polar
outputs/cases/**/*.vkey
outputs/cases/**/*.vspaero
outputs/cases/**/*.vspgeom
outputs/cases/**/raw_vspaero_loads.csv
outputs/refinement_geometries/**/*.vsp3
